﻿@model List<VocationManagerTest.Domain.Model.Department.DepartmentListItem>

<h1>Список всех отделов</h1>

<body>
<a asp-action="Create" asp-controller="Department" class="btn-outline-success" style="text-decoration: none">Добавить NEW отдел</a>
<table class="table">
    <thead class="thead-dark">
    <tr>
        <th>Отдел</th>
        <th>Глава</th>
        <th>Количество</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
        @foreach (var department in Model)
        {
            <tr>
                <td>@department.Name</td>
                <td>
                    <ul class="list-group">
                        @foreach (var headName in department.Heads)
                        {
                            <li style="list-style-type: none">@headName</li>
                        }
                    </ul>
                </td>
                <td>@department.CountMember</td>

                <td><a asp-action="Edit" asp-controller="Department" asp-route-id="@department.Id" class="btn btn-sm btn-primary">Изменить</a></td>

                <td></td>
            </tr>
        }
    </tbody>
</table>
</body>