﻿@using VocationManagerTest.Web.Extension
@model VocationManagerTest.Web.ViewModels.EditDepartmentViewModel

<h3>Информация об отделе</h3>
<form asp-controller="Department" asp-antiforgery="true">
    <div class="validation" asp-validation-summary="ModelOnly"></div>
    @Html.HiddenFor(d => d.Department.Id)
    <div>
        <div>
            <label asp-for="Department.Name">Введите имя</label><br />
            <input type="text" asp-for="Department.Name" />
            <span asp-validation-for="Department.Name" class="text-danger" />
        </div>
        <div>
            <label asp-for="AvailableHead">Выберите главу отдела</label><br />
            <select multiple="multiple" id="selectItem" asp-for="Department.HeadIds" asp-items="Model.AvailableHead.ToSelectListItems()"></select>
            <span asp-validation-for="AvailableHead" class="text-danger" />
        </div>
        @*<div>
                <label asp-for="AvailableEmployees">Выберите сотрудников отдела</label><br />
                <select multiple="multiple" id="selectItem" asp-for="Department.EmployeeIds" asp-items="Model.AvailableEmployees.ToSelectListItems()"></select>
            </div>*@
        <input type="submit" value="Сохранить" class="btn btn-md btn-success" />
    </div>
</form>
<form>
    <br/>
    <h3>Сотрудники отдела</h3>
    <a asp-controller="Employee" asp-action="Create" asp-route-departmentId="@Model.Department.Id">Добавить сотрудника</a>
    <table class="table">
        <tbody>
        @if (Model.EmployeeList != null)
        {
            @foreach (var employee in Model.EmployeeList)
             {
                 <tr>
                     <td>@employee.Name</td>
                     <td>@employee.SurName</td>
                     <td>@employee.Email</td>
                     <td>@employee.Role</td>
                     <td><a asp-action="RemoveEmployee" asp-controller="Department" asp-route-employeeId="@employee.Id" asp-route-departmentId="@Model.Department.Id" class="btn btn-sm btn-outline-danger">Удалить из отдела</a></td>
                 </tr>
             }
        }
        </tbody>
    </table>
</form>

<div>
    <a href="#myModal" class="btn btn-md btn-danger" role="button" aria-pressed="true" data-toggle="modal">Удалить отдел</a>
</div>

    <form asp-action="Remove">
        <div id="myModal" class="modal fade" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    </div>
                    <div class="modal-body">
                        <p>
                            Вы уверены?
                            Все пользователи отдела будут удалены!
                        </p>
                    </div>
                    <div class="modal-footer">
                        <input type="submit" value="OK" class="btn-success" />
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->
    </form>
