﻿@using System.Collections.Specialized
@model VocationManagerTest.Web.ViewModels.EditVacationViewModel

@section Styles
{
    <link rel="stylesheet" href="~/lib/bootstrap-datepicker/css/bootstrap-datepicker.min.css" />

}


<h2>Редактирования отпуска</h2>
<a asp-action="ShowVacation" asp-controller="Vacation" class="btn btn-link" style="text-decoration: none">Вернуться обратно</a>

<form asp-controller="Vacation" asp-antiforgery="true">
    <div class="validation" asp-validation-summary="ModelOnly"></div>
    @Html.HiddenFor(v => v.Vacation.Id)
    @Html.HiddenFor(v => v.Vacation.EmployeeId)
    <div>
        <div>
            <label asp-for="Vacation.BeginningDate">Введите дату начала отпуска</label><br />
            <input type="text" class="form-control datepicker" id="start" data-date-format="dd/mm/yyyy" asp-for="Vacation.BeginningDate" placeholder="Дата начала отпуска" />
            <span asp-validation-for="Vacation.BeginningDate" class="text-danger" />
        </div>
        <div>
            <label asp-for="Vacation.ExpirationDate">Введите дату окончания отпуска</label><br />
            <input type="text" class="form-control datepicker" id="end"  data-date-format="dd/mm/yyyy" asp-for="Vacation.ExpirationDate" placeholder="Дата окончания отпуска" />
            <span asp-validation-for="Vacation.ExpirationDate" class="text-danger" />
        </div>
        <div>
            <br />
            <input type="submit" value="Сохранить" class="btn btn-success" />
        </div>
    </div>
</form>

@section Scripts
{
    <script src="~/lib/bootstrap-datepicker/js/bootstrap-datepicker.js"></script>
    <script src="~/lib/bootstrap-datepicker/locales/bootstrap-datepicker.ru.min.js"></script>

    <script type="text/javascript">
        $('#start').datepicker({
                todayBtn: true,
                todayHighlight: true
                });
            $('#end').datepicker({
                todayBtn: true,
                todayHighlight: true
            });
        
    </script>


}
