﻿@using VocationManagerTest.Domain.Services
@using System.Security.Claims
@using VocationManagerTest.Database.Enums
@model List<VocationManagerTest.Domain.Model.Vacation.EditVacationDetails>

<h1>Список отпусков</h1>
@if (User.FindFirst(x => x.Type == ClaimTypes.Role).Value != EmployeeRole.User.ToString())
{
    <a asp-action="Index" asp-controller="Vacation">Вернуться к отпускам</a>
}
@if (@Model.Select(e => e.Surname).FirstOrDefault() != null)
{
    <p>Сотрудник: @Model.Select(e => e.Surname).FirstOrDefault() </p>
}
else
{
    <p>У вас пока что нет отпусков</p>
}
<div>
    <a asp-action="Create" asp-controller="Vacation" asp-route-id="@Model.Select(v=>v.EmployeeId).FirstOrDefault()" class="btn-outline-success" style="text-decoration: none">Добавить отпуск</a>
</div>
<br />
<table class="table">
    <thead class="thead-dark">
        <tr>
            <th>Дата начала</th>
            <th>Дата окончания</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var vacation in Model)
        {
            <tr>
                <td>@vacation.BeginningDate</td>
                <td>@vacation.ExpirationDate</td>
                @if (vacation.BeginningDate >= DateTime.Now.Date)
                {
                    <td><a asp-action="Edit" asp-controller="Vacation" asp-route-id="@vacation.Id" class="btn btn-sm btn-primary">Изменить</a></td>
                    <td><a asp-action="Remove" asp-controller="Vacation" asp-route-id="@vacation.Id" class="btn btn-sm btn-danger">Удалить</a></td>
                }
                else
                {
                    <td></td>
                    <td></td>
                }
                <td></td>
            </tr>
        }
    </tbody>
</table>

