﻿@using System.Linq
@using Microsoft.CodeAnalysis.CSharp.Syntax
@using VocationManagerTest.Web.Extension
@using VocationManagerTest.Shared
@model VocationManagerTest.Web.ViewModels.VacationListViewModel

<div>
    <form asp-action="Index" asp-controller="Vacation">
        <select class="form-control-sm" id="my_select1" asp-for="Parameters.DepartmentIds" asp-items="Model.AvailableDepartments.ToSelectListItems()">
            <option value="0">Показать все отделы</option>
        </select><br />
        <select class="form-control-sm" id="my_select2" asp-for="Parameters.Year" asp-items="Model.AvailableYear.ToSelectListItems()">
            <option value="0">Выберите год</option>
        </select>
        <input type="submit" id="btn" value="Применить" class="btn btn-outline-dark btn-sm" disabled="disabled" />
    </form>
</div>


<br />
<div style="overflow-x: auto;">
    <table id="table-scroll" class="table table-striped table-bordered table-sm" cellspacing="0" width="100%">
        <thead>
            <tr>
                <th></th>
                <th></th>
                @for (var i = 1; i <= Constants.CountWeekOfYear; i++)
                {
                    <th>@i</th>
                }
            </tr>
        </thead>
        <tbody>
            @foreach (var vacation in Model.VacationList)
            {
                <tr>
                    <td>@vacation.Surname</td>
                    <td>
                        <a asp-action="ShowVacation" asp-controller="Vacation" asp-route-id="@vacation.EmployeeId" class="btn btn-sm btn-primary">Подробнее</a>
                    </td>

                    @for (var j = 1; j <= Constants.CountWeekOfYear; j++)
                    {
                        if (vacation.NumberOfWeeks.Contains(j))
                        {
                            <td class="table-secondary">@j</td>
                        }
                        else
                        {
                            <td></td>
                        }
                    }
                </tr>

            }
        </tbody>
    </table>
</div>

@section Scripts
{
    <script>
        $(document).ready(function () {
            $('#table-scroll').DataTable({
                "scrollX": true
            });
        });
    </script>
    <script>
        $(document).on('change', function () {
            if (document.getElementById('my_select1').value != '0' && document.getElementById('my_select2').value != '0') {
                $('#btn').prop('disabled', false);
            }
            else {
                $('#btn').prop('disabled', true);
            }
        });
    </script>
}
