﻿@model VocationManagerTest.Domain.Model.LoginModel

<h2>Вход на сайт</h2>

<form asp-action="Login" asp-controller="Account" asp-antiforgery="true">
    <div class="validation" asp-validation-summary="ModelOnly"/>
    <div>
        <div class="form-group">
            <label asp-for="Email">Введите Email</label>
            <input type="text" asp-for="Email" class="form-control" placeholder="Ваш E-mail"/>
            <span asp-validation-for="Email"/>
        </div>
        <div class="form-group">
            <label asp-for="Password">Введите пароль</label>
            <input type="password" asp-for="Password" class="form-control" placeholder="Ваш Пароль"/>
            <span asp-validation-for="Password"/>
        </div>
        <div class="form-group">
            <input type="submit" value="Войти" class="btn btn-primary"/>
        </div>
    </div>
</form>

<a asp-action="Logout" asp-controller="Account">Выход</a>