﻿@using System.Linq
@using Microsoft.AspNetCore.Http.Connections
@using VocationManagerTest.Database.Enums
@using VocationManagerTest.Database.Model
@using VocationManagerTest.Web.Extension
@model VocationManagerTest.Web.ViewModels.EditEmployeeViewModel

<h2>Пользователь</h2>

<a asp-action="Index" asp-controller="Employee" class="btn btn-link" style="text-decoration: none">Вернуться обратно</a>
<form asp-controller="Employee" asp-antiforgery="true">
    <div class="validation" asp-validation-summary="ModelOnly"></div>
    @Html.HiddenFor(e => e.Employee.Id)
    <div>
        <div>
            <label asp-for="Employee.Name">Введите имя</label><br />
            <input type="text" asp-for="Employee.Name" placeholder="Имя" />
            <span asp-validation-for="Employee.Name" class="text-danger" />
        </div>
        <div>
            <label asp-for="Employee.Surname">Введите фамилию</label><br />
            <input type="text" asp-for="Employee.Surname" placeholder="Фамилия" />
            <span asp-validation-for="Employee.Surname" class="text-danger" />
        </div>
        <div>
            <label asp-for="Employee.Email">Введите email</label><br />
                     
            <input type="text" asp-for="Employee.Email" placeholder="E-mail"  readonly="@(Model.Employee.Id != 0)"/>
            <span asp-validation-for="Employee.Email" class="text-danger" />
        </div>
        <div>
            <label asp-for="Employee.Password">Введите пароль</label><br />
            <input type="password" asp-for="Employee.Password" placeholder="Пароль" />
            <span asp-validation-for="Employee.Password" class="text-danger" />
        </div>
        <div>
            <label asp-for="Employee.Role">Выберите роль</label><br />
            <select id="slRole" asp-for="Employee.Role" asp-items="Html.GetEnumSelectList<EmployeeRole>()" onchange="onRoleChanged(+this.value)">
                <option value="">Выберете роль</option>
            </select>
            <span asp-validation-for="Employee.Role" class="text-danger" />
        </div>
        <div id="divSelectDepartment" class="@(Model.Employee.Role == EmployeeRole.User || Model.Employee.Role == EmployeeRole.Head ? "" : "hide")">
            <label asp-for="AvailableDepartments">Выберите отдел</label><br />
            <select id="slDepartments" asp-for="Employee.DepartmentIds" asp-items="Model.AvailableDepartments.ToSelectListItems()"></select>
            <span asp-validation-for="AvailableDepartments" class="text-danger" />
        </div>
        <div>
            <br />
            <input type="submit" value="Сохранить" class="btn btn-success" />
        </div>
    </div>
</form>

@section Scripts
{
    <script type="text/javascript">

        $(document).ready(function() {
            if (+$("#slRole").val() === @((byte) EmployeeRole.User)) {
                $("#slDepartments").removeAttr("multiple");
            }
        });


        function onRoleChanged(role) {
            if (role === @((byte) EmployeeRole.User) || role === @((byte) EmployeeRole.Head)) {
                $("#divSelectDepartment").removeClass("hide");
                if (role === @((byte) EmployeeRole.User)) {
                    $("#slDepartments").removeAttr("multiple");
                } else {
                    $("#slDepartments").attr("multiple", "multiple");
                }
            } else {
                $("#divSelectDepartment").addClass("hide");
            }
        }

    </script>
}
