﻿@using System.Linq
@using Microsoft.EntityFrameworkCore
@using VocationManagerTest.Web.Extension
@model VocationManagerTest.Web.ViewModels.EmployeeListViewModel


<h1>Список всех пользователей</h1>
<body>
<div>
    <form asp-action="Index" asp-controller="Employee">
        <select class="form-control-sm" id="selectItem" asp-for="Parameters.DepartmentId" asp-items="Model.AvailableDepartments.ToSelectListItems()">
            <option>Показать все отделы</option>
        </select>
        <input type="submit" value="Применить" class="btn btn-outline-dark"/>
    </form>
</div>
<div>
    <a asp-action="Create" asp-controller="Employee" class="btn-outline-success" style="text-decoration: none">Добавить нового пользователя</a>
</div>
<br/>
<table class="table">
    <thead class="thead-dark">
    <tr>
        <th>Имя</th>
        <th>Фамилия</th>
        <th>e-mail</th>
        <th>роль</th>
        <th>отдел</th>
        <th></th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var user in Model.EmployeeList)
    {
        <tr>
            <td>@user.Name</td>
            <td>@user.SurName</td>
            <td>@user.Email</td>
            <td>@user.Role</td>
            <td>
                <ul class="list-group">
                    @foreach (var departmentName in user.DepartmentNames)
                    {
                        <li style="list-style-type: none">@departmentName</li>
                    }
                </ul>
            </td>
            <td><a asp-action="Edit" asp-controller="Employee" asp-route-id="@user.Id" class="btn btn-sm btn-primary">Изменить</a></td>
            <td><a asp-action="Remove" asp-controller="Employee" asp-route-id="@user.Id" class="btn btn-sm btn-danger">Удалить</a></td>
            <td></td>
        </tr>
    }
    </tbody>
</table>
</body>